@import url('https://fonts.googleapis.com/css?family=Volkhov:400,400i,700,700i&display=swap');
@import url('https://fonts.googleapis.com/css?family=Fira+Sans:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap');

@volkhov : 'Volkhov', serif;
@fira : 'Fira Sans', sans-serif;

body, p{
    font-family: @fira;    
}

p {
    margin-bottom: 0;
    font-family: @fira;
    font-weight: 400;
}

section.cover-inside.about {
    display: table;
    vertical-align: middle;
    height: 100%;
    min-height: 705px;
    width: 100%;
    // background-color: rgba(76, 175, 80, 0.3);
    background: url('../images/About-fcs.jpg') center center;
    background-size: cover;
    background-repeat: no-repeat;

    // background-color: #18965e;
    // opacity: 0.35;
    .prelative.container {
        vertical-align: middle;
        height: 100%;

        .content {
            max-width: 650px;
            display: block;
            margin: 0 auto;
            margin-top: 115px;

            .title {
                p {
                    font-size: 15px;
                    font-weight: 700;
                    color: #474747;
                    text-align: center;
                }
            }

            .subtitle {
                padding-top: 15px;

                p {
                    font-weight: 700;
                    font-size: 25px;
                    color: #e67817;
                    text-align: center;
                    line-height: 1.2;
                }
            }
        }
    }
}

section.cover-inside.quality {
    display: table;
    vertical-align: middle;
    height: 100%;
    min-height: 705px;
    width: 100%;
    // background-color: rgba(76, 175, 80, 0.3);
    background: url('../images/pc-kualitas.jpg') center center;
    background-size: cover;
    background-repeat: no-repeat;

    // background-color: #18965e;
    // opacity: 0.35;
    .prelative.container {
        vertical-align: middle;
        height: 100%;

        .content {
            max-width: 650px;
            display: block;
            margin: 0 auto;
            margin-top: 115px;

            .title {
                p {
                    font-size: 15px;
                    font-weight: 700;
                    color: #474747;
                    text-align: center;
                }
            }

            .subtitle {
                padding-top: 15px;

                p {
                    font-weight: 700;
                    font-size: 25px;
                    color: #e67817;
                    text-align: center;
                    line-height: 1.2;
                }
            }
        }
    }
}


section.about-sec-1 {
    padding-top: 145px;
    padding-bottom: 200px;
    background-color: #f7f6ed;

    .content-sec-1 {
        .title {
            color: #e67817;
            font-size: 25px;
        }

        .isi {
            p {
                font-size: 14px;
                color: #474747;
                padding-top: 25px;
            }
        }
    }

    .content-sec-2 {
        img {
            width: 100%;
            padding-bottom: 20px;
        }
    }
}

section.about-sec-2 {
    min-height: 375px;
    // background-color: #fffce9;
    background: url('../images/About-section-3.jpg') center center;
    background-size: cover;
    background-repeat: no-repeat;

    .title {
        max-width: 850px;
        margin: 0 auto;
        padding-top: 140px;

        p {
            font-family: @volkhov;
            color: #e67817;
            font-size: 25px;
            font-weight: 700;
            font-style: italic;
            text-align: center;
        }

    }

    .subtitle {
        text-align: center;
        padding-top: 20px;

        p {
            font-size: 15px;
            color: #fff;
            font-weight: bold;
        }
    }
}

section.about-sec-3 {
    background-color: #ffffff;

    .title {
        padding-top: 120px;
        padding-bottom: 35px;

        p {
            font-size: 15px;
            font-weight: 700;
            color: #474747;
            text-align: center;
        }
    }

    .isi {
        max-width: 480px;
        padding-bottom: 145px;

        p {
            font-weight: 300;
            text-align: center;
            font-size: 25px;
            color: #e67817;
        }
    }
}

section.about-sec-4 {
    
    background-color: #70530f;
    min-height: 920px;

    .heading {
        // padding-top: 150px;
        padding-bottom: 120px;
        text-align: center;

        .title {
            padding-bottom: 30px;

            p {
                font-size: 25px;
                font-weight: 700;
                color: #ffffff;
            }
        }

        .subtitle {
            max-width: 720px;
            margin: 0 auto;
            display: block;

            p {
                font-size: 14px;
                color: #ffffff;
            }
        }
    }

    .content {
        padding-bottom: 140px;

        p {
            text-align: center;
            color: #ffffff;
        }

        .image {
            max-height: 85px;
            margin: 0 auto;
            display: block;
            text-align: center;
        }

        .title {
            padding-top: 60px;
            font-size: 17px;
            font-weight: bold;
        }

        .isi {
            padding-top: 25px;
            max-width: 250px;
            margin: 0 auto;
            display: block;

            p {
                font-size: 14px;
                font-weight: 200;
            }
        }
    }
}


section.about-sec-5 {
    background: url('../images/Rectangle-1-copy-12.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 200px;
    height: auto;

    .box-content {
        margin: 32px 0;
        border: 6px solid #ffece2;
        background: #fff;

        .content {
            padding: 70px 0;
            max-width: 675px;
            margin: 0 auto;

            .title {
                p {
                    font-size: 15px;
                    color: #81be41;
                    font-weight: bold;
                    text-align: center;
                }
            }

            .subtitle {
                padding-top: 20px;

                p {
                    line-height: 1.4;
                    color: #3a3a3a;
                    font-size: 22px;
                    font-weight: bold;
                    text-align: center;
                }
            }

            form.fieldd {
                padding-top: 30px;

                label {
                    font-size: 12px;
                    color: #3a3a3a;
                    text-transform: uppercase;
                    font-weight: 600;
                }
            }

            .tertarik {
                padding-top: 10px;

                p {
                    font-size: 12px;
                    font-weight: 600;
                    color: #3a3a3a;
                }
            }

            form.radioo {
                padding-top: 8px;

                label {
                    font-size: 12px;
                    color: #3a3a3a;
                }
            }

            button {
                width: 135px;
                background: #81be41;
                color: #ffffff;
                text-transform: uppercase;
                margin-top: 35px;
                margin-left: auto;
                margin-right: 0;
            }
        }
    }
}


section.cover-inside.kerjasama {
    display: table;
    vertical-align: middle;
    height: 100%;
    min-height: 705px;
    width: 100%;
    // background-color: rgba(76, 175, 80, 0.3);
    background: url('../images/pc-kerjasama.jpg') center center;
    background-size: cover;
    background-repeat: no-repeat;

    // background-color: #18965e;
    // opacity: 0.35;
    .prelative.container {
        vertical-align: middle;
        height: 100%;

        .content {
            max-width: 650px;
            display: block;
            margin: 0 auto;
            margin-top: 115px;

            .title {
                p {
                    font-size: 15px;
                    font-weight: 700;
                    color: #474747;
                    text-align: center;
                }
            }

            .subtitle {
                padding-top: 15px;

                p {
                    font-weight: 700;
                    font-size: 25px;
                    color: #e67817;
                    text-align: center;
                    line-height: 1.2;
                }
            }
        }
    }
}

section.kerjasama-sec-1 {
    padding-top: 110px;

    .content-sec-1 {
        .title {
            p {
                font-size: 25px;
                font-weight: 400;
                color: #e67817;
            }
        }

        .isi {
            p {
                font-size: 14px;
                padding-top: 25px;
            }
        }

        .contact {
            padding-top: 70px;
            padding-bottom: 150px;

            .teks {
                padding-bottom: 15px;
                font-size: 14px;
                color: #e67817;
                font-weight: 700;
            }

            img {
                vertical-align: middle;
                // float: left;
                padding-right: 10px;
                display: inline-block;
            }

            .nomor {
                // float: left;
                vertical-align: middle;
                font-weight: 700;
                font-size: 23px;
                display: inline-block;

            }
        }

    }


    .content-sec-2 {
        .teks {
            font-family: @volkhov;
            font-size: 14px;
            font-style: italic;
            font-weight: 700;
            padding-top: 85px;
            padding-bottom: 25px;

        }

        .fieldd {
            background-color: #f7f6ed;
            padding: 50px;
            min-height: 455px;

            .form-group {
                // margin: 0 auto;
                // display: block;
                // width: 100%;
                margin-bottom: 1.7rem;
                .label {
                    // float: left;
                    // display: inline-block;
                    color: #afafaf;
                    font-size: 14px;
                    letter-spacing: 1px;
                    padding-right: 1rem;
                    width: 55px;
                }
                input{
                }
                .no-border {
                    // float: left;
                    // display: inline-block;
                    // width: 74%;

                    max-width: 240px;
                    width: 100%;
                    border: 0;
                    outline: 0;
                    background: transparent;
                    border-bottom: 1px solid #a8a8a8;
                    box-shadow: none;
                    color: #afafaf;
                }
            }




            button {
                width: 100%;
                background-color: #e67817;
                border: 0;
                box-shadow: none;
                color: white;
                padding: 10px;
                min-height: 40px;
                font-size: 16px;
                font-weight: 700;

            }
        }
    }
}


section.quality-sec-1 {
    padding-top: 145px;
    padding-bottom: 70px;
    background-color: #ffffff;

    .subtitle {
        font-size: 15px;
        color: #474747;
        font-weight: 700;
        padding-bottom: 20px;
    }

    .content-sec-1 {

        .title {
            p{
                color: #e67817;
                font-weight: 300;
                letter-spacing: -1px;
                font-size: 25px;
                padding-bottom: 30px;
            }
        }

        .isi {
            p {
                font-size: 14px;
                color: #474747;
                padding-bottom: 30px;
            }
        }
    }

    .content-sec-2 {
        margin: 0auto;
        display: block;

        img {
            width: 100%;
        }

        .atas {
            padding-bottom: 80px;
        }
    }
}

section.quality-sec-2 {
    background-color: #f7f6ed;
    padding-top: 140px;
    padding-bottom: 110px;
    display: block;
    margin: 0auto;


    .title {
        max-width: 850px;
        padding-bottom: 30px;
        margin: 0 auto;

        p {
            font-family: @fira;
            color: #e67817;
            font-size: 25px;
            font-weight: 300;
            text-align: center;
        }

    }

    .subtitle {
        text-align: center;
        font-size: 14px;
        padding-bottom: 60px;

        p {
            font-size: 15px;
            color: #474747;
        }
    }

    .frame {
        margin-top: 15px;
        margin-bottom: 15px;
        display: block;
        // padding: 7px;
        background-color: #fff;
        -webkit-box-shadow: 6px 6px 14px -7px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 6px 6px 14px -7px rgba(0, 0, 0, 0.75);
        box-shadow: 6px 6px 14px -7px rgba(0, 0, 0, 0.75);
        img {
            width: 100%;
        }
    }
}


section.quality-sec-3 {
    background-color: #70530f;
    min-height: 940px;

    .heading {
        padding-top: 150px;
        padding-bottom: 120px;
        text-align: center;

        .title {
            padding-bottom: 30px;

            p {
                font-size: 25px;
                font-weight: 700;
                color: #ffffff;
            }
        }

        .subtitle {
            max-width: 720px;
            margin: 0 auto;
            display: block;

            p {
                font-size: 14px;
                color: #ffffff;
            }
        }
    }

    .content {
        padding-bottom: 140px;

        p {
            text-align: center;
            color: #ffffff;
        }

        .image {
            max-height: 85px;
            margin: 0auto;
            display: block;
            text-align: center;
        }

        .title {
            padding-top: 60px;
            font-size: 17px;
            font-weight: bold;
            letter-spacing: 1px;

        }

        .isi {
            padding-top: 25px;
            max-width: 250px;
            margin: 0 auto;
            display: block;

            p {
                font-size: 14px;
                font-weight: 200;
            }
        }
    }
}

section.quality-sec-4 {
    background: url('../images/Rectangle-1-copy-12.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 200px;
    height: auto;

    .box-content {
        margin: 32px 0;
        border: 6px solid #ffece2;
        background: #fff;

        .content {
            padding: 70px 0;
            max-width: 675px;
            margin: 0 auto;

            .title {
                p {
                    font-size: 15px;
                    color: #81be41;
                    font-weight: bold;
                    text-align: center;
                }
            }

            .subtitle {
                padding-top: 20px;

                p {
                    line-height: 1.4;
                    color: #3a3a3a;
                    font-size: 22px;
                    font-weight: bold;
                    text-align: center;
                }
            }

            form.fieldd {
                padding-top: 30px;

                label {
                    font-size: 12px;
                    color: #3a3a3a;
                    text-transform: uppercase;
                    font-weight: 600;
                }
            }

            .tertarik {
                padding-top: 10px;

                p {
                    font-size: 12px;
                    font-weight: 600;
                    color: #3a3a3a;
                }
            }

            form.radioo {
                padding-top: 8px;

                label {
                    font-size: 12px;
                    color: #3a3a3a;
                }
            }

            button {
                width: 135px;
                background: #81be41;
                color: #ffffff;
                text-transform: uppercase;
                margin-top: 35px;
                margin-left: auto;
                margin-right: 0;
            }
        }
    }
}


.prelative.container.blog {
    max-width: 845px;
    margin: 0 auto;
}

section.this-article {
    padding-top: 120px;

    .kategori {
        text-align: center;
        padding-bottom: 25px;
        font-family: @fira;
        font-size: 15px;
        font-weight: 700;
    }

    p.judul {
        padding-bottom: 55px;
        font-size: 25px;
        font-family: @volkhov;
        text-align: center;
        font-weight: 700;
        color: #e67817;
    
    }

    .gambar {
        padding-bottom: 65px;

        img {
            width: 100%;
        }
    }

    .isi {
        padding-bottom: 70px;

        p {
            font-family: @fira;
            font-size: 16px;
            font-weight: 400;
            padding-bottom: 30px;
        }
    }

    .inline {
        text-align: center;
        padding-bottom: 75px;

        .prev {
            margin: 10px;
            display: inline;
            color: #e67817;
            font-weight: 700;
            text-decoration: underline;
        }

        .next {
            margin: 10px;
            display: inline;
            color: #e67817;
            font-weight: 700;
            text-decoration: underline;
        }

        .vertical-line {
            text-align: center;
            display: inline;
            border-left: 1.5px solid #adadad;
            height: 30px;
        }
    }
}

section.other-article {
    background-color: #fff;
    padding-top: 110px;
    padding-bottom: 110px;

    .inline {
        padding-bottom: 35px;
        padding-top: 35px;

        .blog {
            text-align: left;
            color: black;
            font-weight: 700;


        }

        .allblog a p {
            text-align: right;
            color: #e67817;
            font-weight: 700;
            text-decoration: underline;

        }
    }


    .box-content {
        margin-top: 35px;
        max-height: 360px;

        img {
            width: 100%;
            margin: 0 auto;
            display: block;
        }

        .inline2 {
            display: inline-block;
            white-space: nowrap;


            .category {
                font-weight: 700;
                font-style: italic;
                font-family: @volkhov;
                font-size: 12px;
                color: #999999;
                display: inline-block;
                vertical-align: middle;
                margin-right: 10px;
            }

            .date {
                margin-right: 10px;
                font-size: 12px;
                font-weight: 300;
                display: inline-block;
                vertical-align: middle;
            }

            .vertical-line {
                margin-right: 10px;

                width: 1px;
                height: 30px;
                background: #adadad;
                display: inline-block;
                vertical-align: middle;
            }
        }

        .title a p {
            line-height: 1.3;
            font-size: 18px;
            font-weight: 300;
            letter-spacing: 1px;
            color: #555555;
        }

    }
}

section.blog-sec-1 {
    background: url('../images/bg_blog.jpg');
    background-repeat: repeat-x;
    padding-top: 110px;
    padding-bottom: 130px;
    background-color: #fff;

    .title {
        font-size: 15px;
        font-family: @fira;
        font-weight: 700;
        padding-bottom: 25px;
        text-align: center;
        p{
            font-size: 15px;
            font-family: @fira;
            font-weight: 700;
        }
    }

    .subtitle {
        max-width: 520px;
        margin: 0 auto;
        display: block;
        text-align: center;
        font-family: @volkhov;
        font-size: 25px;
        font-weight: 700;
        padding-bottom: 75px;
        color: #e67817;
        p{
            font-family: @volkhov;
            font-size: 25px;
            font-weight: 700;
            color: #e67817;
        }
    }

    .box-content {
        margin-bottom: 30px;
        min-height: 370px;

        img {
            width: 100%;
            margin: 0 auto;
            display: block;
        }

        .title a p{
            font-size: 18px;
            font-weight: 300;
            letter-spacing: 1px;
            color: #555555;
            text-align: left;
        }

        .inline2 {
            display: inline-block;
            white-space: nowrap;


            .category {
                font-weight: 700;
                font-style: italic;
                font-family: @volkhov;
                font-size: 12px;
                color: #999999;
                display: inline-block;
                vertical-align: middle;
                margin-right: 10px;
            }

            .date {
                margin-right: 10px;
                font-size: 12px;
                font-weight: 300;
                display: inline-block;
                vertical-align: middle;
            }

            .vertical-line {
                margin-right: 10px;

                width: 1px;
                height: 30px;
                background: #adadad;
                display: inline-block;
                vertical-align: middle;
            }
        }
    }
}

section.prod-det-1 {
    background-color: #fbfaf7;
    padding-top: 120px;
    padding-bottom: 120px;

    .atas {
        padding-bottom: 60px;

        .title {
            font-size: 15px;
            font-family: @fira;
            font-weight: 700;
            padding-bottom: 25px;
            text-align: center;
        }

        .subtitle {
            p{
                // max-width: 490px;
                // margin: 0auto;
                // display: block;
                text-align: center;
                font-family: @volkhov;
                font-size: 25px;
                font-weight: 700;
                padding-bottom: 50px;
                color: #e67817;
                position: relative;
            }
        }

        img {
            width: 100%;
        }
    }

    .bawah {
        .title-kat {
            font-family: @volkhov;
            font-weight: 700;
            color: #e67817;
            font-size: 23px;
            padding-bottom: 20px;
        }

        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            width: 100%;
        }

        li {
            background-color: #f2f1ef;
            min-height: 42px;
            margin-top: 5px;
            margin-bottom: 5px;

        }

        li a {
            font-size: 15px;
            font-weight: 700;
            display: block;
            color: #474747;
            padding: 8px 16px;
            text-decoration: none;
        }

        /* Change the link color on hover */
        li a:hover {
            background-color: #e67817;
            color: white;
            min-height: 42px;

        }

        .active a {
            min-height: 42px;
            background-color: #e67817;
            color: white;
        }

        .box-content {
            min-height: 350px;
            background-color: #fff;
            margin-bottom: 30px;

            img a {
                width: 100%;
            }

            .isi {
                padding: 20px;

                .item {
                    font-size: 11px;
                    font-weight: 300;
                    font-family: @fira;
                    padding-bottom: 18px;
                    color: #7f7f7f;
                    letter-spacing: 1px;
                }

                .title a p {
                    font-size: 15px;
                    font-weight: 700;
                    font-family: @volkhov;
                    padding-bottom: 10px;
                    color: #e67817;
                    min-height: 60px; max-height: 60px; overflow: hidden; 
                }

                .subtitle {
                    font-size: 14px;
                    font-weight: 300;
                    color: #7f7f7f;
                    letter-spacing: 1px;

                }
            }
        }
    }

}

section.bread{
    background-color: #ffffff;
    border-bottom: 1px solid #efefef;
    border-top: 8px solid #e67817;
    // padding-bottom: 50px;
    .prelative.container{
        margin-top: 15px;
        nav{
            ol.breadcrumb{
                background-color: #ffffff;
    
                li.breadcrumb-item a {
                    font-size: 15px;
                    color: black;
                }
            }
        }
        .kembali a p{
            font-size: 15px;
            color: #e67817;
            vertical-align: middle;
            text-align: right;
        }
    }
}

section.detail-inq {
    background-color: #ffffff;
    padding-top: 50px;
    .title-kat {
        font-family: @volkhov;
        font-weight: 700;
        color: #e67817;
        font-size: 23px;
        padding-bottom: 20px;
    }

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        width: 100%;
    }

    li {
        background-color: #f2f1ef;
        min-height: 42px;
        margin-top: 5px;
        margin-bottom: 5px;

    }

    li a {
        font-size: 15px;
        font-weight: 700;
        display: block;
        color: #474747;
        padding: 8px 16px;
        text-decoration: none;
    }

    /* Change the link color on hover */
    li a:hover {
        background-color: #e67817;
        color: white;
        min-height: 42px;

    }

    .active a {
        min-height: 42px;
        background-color: #e67817;
        color: white;
    }

    .content {
        .item {
            font-size: 16px;
            font-weight: 300;
            padding-bottom: 25px;
            font-family: @fira;
            letter-spacing: 1px;
            color: #555555;
        }

        .title {
            font-size: 24px;
            font-weight: 700;
            color: #e67817;
            padding-bottom: 15px;
            font-family: @volkhov ;
            color: #e67817;

        }

        .subtitle {
            font-size: 18px;
            font-weight: 300;
            font-family: @fira;
            letter-spacing: 1px;
            padding-bottom: 45px;
            color: #555555;
        }

        .image {
            img {
                width: 100%;
                margin-top: 70px;
            }
        }

        .showimage {
            img{
                width: 100%;
                padding-bottom: 25px;
            }
            
        }

        .desk {
            p{
                font-size: 12px;
                font-weight: 300;
                letter-spacing: 1px;
                padding-bottom: 15px;
                color: #555555;
            }

        }

        .content {
            p{
                font-size: 17px;
                font-weight: 300;
                line-height: 2;
                letter-spacing: 1px;
                font-family: @fira;
                padding-bottom: 30px;
                color: #555555;
            }

        }

        .form-inquiri {
            padding-top: 30px;
        }

        .form-inq-bawah {
            padding-top: 15px;
            padding-bottom: 25px;
        }

        .fieldd {
            padding-bottom: 30px;

            label {
                font-size: 13px;
                font-weight: 300;
                letter-spacing: 2px;
            }

            .submit {
                .button {
                    background-color: #81be41;
                    color: #ffffff;
                    font-size: 18px;
                    float: right;
                }
            }
        }
    }
}

section.for-submit{
    background: #efefef;
    min-height: 115px;
    .submit {
        .button {
            background-color: #81be41;
            color: #ffffff;
            font-size: 18px;
            float: right;
            padding: 5px 30px;
            margin-top: 35px;
        }
    }
}

section.detail-inq-sec2 {
    padding-top: 77px;
    padding-bottom: 80px;

    .lainya {
        p {
            padding-bottom: 44px;
            font-family: @volkhov;
            color: #e67817;
            font-size: 23px;
        }
    }

    .lihat-semua a p {
        font-size: 15px;
        color: #e67817;
        text-align: right;
    }

    .box-content {
        min-height: 350px;
        background-color: #fff;

        .image {
            img{
                width: 100%;
            }
        }

        .item {
            padding-left: 25px;
            font-size: 11px;
            font-weight: 300;
            padding-bottom: 20px;
            font-family: @fira;
            letter-spacing: 1px;
            color: #555555;
            padding-top: 20px;
        }

        .title a p{
            padding-left: 25px;
            font-size: 17px;
            font-weight: 700;
            color: #e67817;
            padding-bottom: 10px;
            font-family: @volkhov ;
        }

        .subtitle {
            p{
                padding-left: 25px;
                font-size: 16px;
                font-weight: 300;
                font-family: @fira;
                letter-spacing: 1px;
                color: #555555;
                padding-bottom: 30px;
            }
        }
    }
}

.spacer.about_sec4{
    display: table;
    // vertical-align: middle;
    min-width: 1000px;
    // min-height: 705px;
    width: 100%;
    // top: 0%;
    // background-color: rgba(76, 175, 80, 0.3);
    background: url('../images/About-section-4-1.jpg') top center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 1100px;
}

header.head.insides-head{
    border-bottom: 9px solid #e67817;
}

.rights_kerjasam{
    max-width: 400px;
}