

@media screen and (max-width: 1360px) {
	
	.fcs-wrapper .slider-container .slider-kiri .content h4{
		font-size: 28px;
	}
	.fcs-wrapper .slider-container .slider-kiri .content p{
		font-size: 14px;
	}

}

@media screen and (max-width: 767px) {
	
	.fcs-wrapper .slider-container .slider-kiri .content h4{
		margin-top: 30px !important;
	}
	.fcs-wrapper .slider-container .slider-kiri .content .lihat{
		margin-top: 40px;
	}
	.fcs-wrapper .slider-container{
		padding-bottom: 4rem;
	}
	section.home-sec-1 .prelative.container,
	section.home-sec-1 .prelative.container{
		padding: 5.5rem 0 4.5rem;
	}
	section.home-sec-3 .box-content{
		margin: 3rem 0;
	}
	section.footer .prelative.container-footer .alamat-isi p{
		font-size: 13px;
	}
	section.footer .prelative.container-footer .content p{
		font-size: 11px;
	}

	section.produk-sec-1{
		.pt-3,
		.pt-4{
			padding-top: 0 !important;
		}
	}
	section.produk-sec-1 .box-produk .content{
		min-height: inherit;
		.pt-4{
			padding-top: 0 !important;
		}
	}
	section.produk-sec-1 .box-produk .content,
	section.produk-sec-1 .box-produk{
		min-height: inherit !important;
		padding-bottom: 2.5rem;
	}
	section.produk-sec-1 .box-produk .content{
		padding-bottom: 0.5rem;
	}
	section.produk-sec-1 h3.subtitle br{
		display: none;
	}
 
}