@import url('https://fonts.googleapis.com/css?family=Volkhov:400,400i,700,700i&display=swap');
@import url('https://fonts.googleapis.com/css?family=Fira+Sans&display=swap');

@volkhov : 'Volkhov',
serif;
@fira : 'Fira Sans',
sans-serif;

.prelative1 {
    max-width: 1042px;
    margin: 0 auto;
}

.prelative2 {
    max-width: 642px;
    margin: 0 auto;
}

section.kontak-sec-1 {
    text-align: center;
    height: 100%;
    min-height: 1414px;
    width: 100%;

    .container {
        vertical-align: middle;
        text-align: center;
        height: 100%;
        padding-top: 120px;
    }

    .title {
        font-family: @fira;
        font-size: 15.02px;
        font-weight: bold;
        padding-bottom: 30px;

        p {
            font-weight: bold;
        }
    }

    .subtitle {
        h2 {
            font-family: @volkhov;
            font-size: 25px;
            font-weight: bold;
            color: #e67817;
            padding-bottom: 58px;
        }
    }

    .title-address {
        font-family: @volkhov;
        font-size: 14px;
        font-weight: bold;
        color: #e67817;

        p {
            font-weight: bold;
        }
    }

    .address {
        p {
            font-family: @fira;
            font-size: 14px;
            color: #474747;
        }
    }

    .vl {
        border-left: 1.5px solid #bebebe;
        min-height: 146px;
    }

    .box-content {
        .contact-title {
            p {

                font-family: @fira;
                font-size: 14px;
                font-weight: bold;
                color: #e67817;
            }
        }

        .contact-detail {
            p {
                font-family: @fira;
                font-size: 14px;
                color: #474747;
            }
        }
    }
}

section.kontak-sec-2 {
    background: url('../images/Rectangle-1-copy-12.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 200px;
    height: auto;

    .box-content {
        margin: 32px 0;
        border: 6px solid #ffece2;
        background: #fff;

        .content {
            padding: 70px 0;
            max-width: 675px;
            margin: 0 auto;

            .title {
                p {
                    font-size: 15px;
                    color: #81be41;
                    font-weight: bold;
                    text-align: center;
                }
            }

            .subtitle {
                padding-top: 20px;

                p {
                    line-height: 1.4;
                    color: #3a3a3a;
                    font-size: 22px;
                    font-weight: bold;
                    text-align: center;
                }
            }

            form.fieldd {
                padding-top: 30px;

                label {
                    font-size: 12px;
                    color: #3a3a3a;
                    text-transform: uppercase;
                    font-weight: 600;
                }
            }

            .tertarik {
                padding-top: 10px;

                p {
                    font-size: 12px;
                    font-weight: 600;
                    color: #3a3a3a;
                }
            }

            form.radioo {
                padding-top: 8px;

                label {
                    font-size: 12px;
                    color: #3a3a3a;
                }
            }

            button {
                width: 135px;
                background: #81be41;
                color: #ffffff;
                text-transform: uppercase;
                margin-top: 35px;
                margin-left: auto;
                margin-right: 0;
            }
        }
    }

}

section.kontak-sec-3 {
    min-height: 588px;
    width: 100%;

    .mapouter {
        position: relative;
        text-align: right;
    }

    .gmap_canvas {
        overflow: hidden;
    }
}